@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background: linear-gradient(to bottom, #b9b9b9, #cccccc, #ffffff);
  position: relative;
  height: 50vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  display: flex; /* Add flexbox layout */
  justify-content: space-between; /* Distribute elements horizontally */
  align-items: center; /* Vertically center elements */
}

.hero-left {
  flex-basis: 70%; /* Take 50% of the width */
  text-align: center;
  justify-content: center;
}

.hero-right {
  flex-basis: 50%; /* increase the width of the right column */
  text-align: center;
}

.hero-right img {
  width: 200px; /* adjust the width to your desired size */
  height: auto;
  margin: 20px; /* add some margin to create space around the logo */
  animation: float 3s ease-in-out infinite;
}

.hero__title {
  font-size: 30px;
  color: #000000;
}

.highlight {
  background-color: #FF0068;
  color: #ffffff;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 40px;
    height: 40px;
    border: solid 1px #FF0068;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 3s ease-in forwards infinite;
  }
  
  .cube:nth-child(2n) {
    border-color: #d60e5e;
  }
  
  .cube:nth-child(2) {
    animation-delay: 0.5s;
    left: 25vw;
    top: 40vh;
  }
  
  .cube:nth-child(3) {
    animation-delay: 1s;
    left: 75vw;
    top: 50vh;
  }
  
  .cube:nth-child(4) {
    animation-delay: 1.5s;
    left: 90vw;
    top: 10vh;
  }
  
  .cube:nth-child(5) {
    animation-delay: 2s;
    left: 10vw;
    top: 85vh;
  }
  
  .cube:nth-child(6) {
    animation-delay: 2.5s;
    left: 50vw;
    top: 10vh;
  }

  .cube:nth-child(7) {
    animation-delay: 5s;
    left: 20vw;
    top: 30vh;
  }
  
  .cube:nth-child(8) {
    animation-delay: 7s;
    left: 60vw;
    top: 20vh;
  }
  
  .cube:nth-child(9) {
    animation-delay: 9s;
    left: 80vw;
    top: 40vh;
  }
  
  .cube:nth-child(10) {
    animation-delay: 11s;
    left: 30vw;
    top: 60vh;
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(5) rotate(360deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }